ul {
    list-style: none;
}

canvas {
    border: 5px solid yellow;
    // background-image: url('../src/center.png');
    // background-position: bottom;
    // cursor: none;
    grid-column-start: 8;
    grid-column-end: auto;
    grid-row-start: 10;
    grid-row-end: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(50, 2%);
    // margin-top: 10%;
    // border: 5px solid red;
}

p {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 12;
    grid-row-end: auto;
}

h3 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: auto;
}

.start {
    grid-column-start: 8;
    grid-column-end: auto;
    grid-row-start: 8;
    grid-row-end: auto;
    background-color: #90EE90;
    border-color: green;
    text-align: center;
    margin: auto;

}

body {
    background-color: rgba(85, 85, 85, 0.63);
}

.timer {
    grid-column-start: 20;
    grid-column-end: auto;
    grid-row-start: 10;
    grid-row-end: auto;
}

.scoreboard {
    grid-column-start: 34;
    grid-column-end: auto;
    grid-row-start: 10;
    grid-row-end: auto;
}