ul {
    list-style: none;
}

li {
    display: block;
    text-align: left;
    list-style-position: outside;
}

canvas {
    border: 5px solid yellow;
    background-image: url('../src/assets/background.png');
    cursor: auto;
    grid-column-start: 4;
    grid-column-end: auto;
    grid-row-start: 5;
    grid-row-end: auto;
    border-radius: 8px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 30px 1000px 30px 2fr 1fr;
    grid-template-rows: 75px 75px 25px 10px 50px 450px 50px 100px;
}

p {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: auto;
    font-family: sans-serif, Arial, serif;
}

h3 {
    grid-column-start: 2;
    grid-column-end: auto;
    grid-row-start: 5;
    grid-row-end: auto;
    font-family: sans-serif, Arial, serif;
}

.start {
    grid-column-start: 4;
    grid-column-end: auto;
    grid-row-start: 3;
    grid-row-end: auto;
    background-color: #90EE90;
    border-color: green;
    text-align: center;
    border-radius: 8px;
    justify-self: left;
}

body {
    background-color: rgba(85, 85, 85, 0.63);
}

.timer {
    grid-column-start: 4;
    grid-column-end: auto;
    grid-row-start: 3;
    grid-row-end: auto;
    justify-self: center;
    align-self: center;
}

.scoreboard {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    display: block;
    justify-self: right;
}

.highs {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: auto;
    display: block;
    align-self: end;
    justify-self: center;
}

.game-over {
    pointer-events: none;
}

.scoreboard, .highs {
    background-image: url("../src/assets/postit.png");
    background-position: center top;
    background-size: 100% 100%;
    background-size: cover;
    padding-left: 20px;
    padding-right: 20px;
    font-family: cursive;
}

.radios {
    grid-column-start: 4;
    grid-column-end: auto;
    grid-row-start: 2;
    grid-row-end: auto;
    justify-self: center;
}

.radios input[type="radio"], .cursors input[type="radio"] {
    opacity: 0;
    width: 0;
}

.radios label, .cursors label {
    display: inline-block;
    padding: 10px 10px;
    font-family: Helvetica, sans-serif;
}

label[for="default"] {
    border: solid 2px rgb(45, 151, 238);
    background-color: rgb(116, 182, 236);
    border-radius: 8px;
}

label[for="easy"] {
    border: solid 2px green;
    background-color: rgb(131, 236, 154);
    border-radius: 8px;
}

label[for="medium"] {
    border: solid 2px orange;
    background-color: rgb(241, 196, 111);
    border-radius: 8px;
}

label[for="hard"] {
    border: solid 2px red;
    background-color: rgb(241, 129, 129);
    border-radius: 8px;
}

.radios input[type="radio"]:checked + label, .cursors input[type="radio"]:checked + label {
    border: 3px solid;
}

.cursors {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: auto;
}

#bronze, #silver, #gold1, #gold2 {
    visibility: hidden;
}

.cursors label {
    border: solid 2px yellow;
    border-radius: 8px;
    opacity: .5;
}

#label-none {
    opacity: 1;
}

footer {
    text-align: center;
}

#label-none img {
    height: 32px;
}